---
import Layout from '../layouts/Layout.astro';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
    (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title="Sean Collins | Blog">
	<main>
        <content>
            <h1>Blog</h1>
            <p>
                {posts.map((post) => (
                    <p>
                        <time datetime={post.frontmatter.pubDate}>
                            {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                            })}
                        </time>
                        <a style="padding-left:10px;" href={post.url}>{post.frontmatter.title}</a>
                    </p>
                ))}
            </p>
        </content>
	</main>
</Layout>
