<header>
    <h2>
        Sean Collins
    </h2>
    <nav>
        <a href="/">Home</a>&nbsp; |&nbsp;
        <a href="/blog">Blog</a>&nbsp; |&nbsp;
        <a href="/portfolio">Portfolio</a>&nbsp; |&nbsp;
        <a href="/about">About</a>&nbsp; |&nbsp;
        <a href="https://www.linkedin.com/in/theseancollins/" target="_blank">LinkedIn</a>&nbsp; |&nbsp;
        <a href="https://github.com/thehouseplant" target="_blank">GitHub</a>
    </nav>
</header>
