<header>
    <h2>
        Sean Collins
    </h2>
    <nav>
        <a href="/">Home</a>&nbsp; |&nbsp;
        <a href="/blog">Blog</a>&nbsp; |&nbsp;
        <a href="/portfolio">Portfolio</a>&nbsp; |&nbsp;
        <a href="/about">About</a>
    </nav>
</header>
